html{padding:0px;margin:0px;-webkit-text-size-adjust:none;}
body{padding:0px;margin:0px auto;font-size:15px;color:#333;font-family:Helvetica,Microsoft YaHei,Microsoft JhengHei;background:#f5f5f5;}
a{color:#444;text-decoration:none;}
ol,ul,li,dl,dd,dt{padding:0;margin:0;list-style:none;}
form,p{padding:0;margin:0;}
i,em{font-style:normal;}
textarea{resize:none}
img{border:none;}
.spanclass{display:none;}
.g-doc {overflow:hidden;margin:0 auto;}
@media only screen and (min-width:1025px){.g-doc{max-width:320px}}

/*无数据*/
.no-content {background-color:#fff;}
.m-none .ico-none {width:64px;height:74px;margin:79px auto 20px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACUBAMAAACpVzx1AAAAIVBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzvu2GhAAAACnRSTlMAQ+bNk1kwwwd7OW/SmwAAANdJREFUaN7t2qEKwlAYxfEjc2PxoiaT2bRgMimCgml5acFHMJn2HDadQzxP6fABJnwfyBXOv99f+coNB8DoQGPngL7sQnPPGsCVjl5ASlclEnLbwFQ+IwtU7GDt8/jIDcyN+cCaNcxlbEE2MJeTIOFIgAABAgQIiB+YcqA2fAeWHGrxA2DCge7hH64gQIAAAQIECIgN0B8phisIECBAgAABAmID9EeK4QoCBAgQIECAA3BPKNwjDv+MpOIN5ubskJB7GDuRhXvM458TYeQZNAX0pTsaW5XAG1jMohzPo3opAAAAAElFTkSuQmCC") no-repeat 0 0;background-size:contain;}
.m-none p{text-align:center;color:#aaa;font-size:16px;line-height:16px;}

/*信息列表*/
.m-message-list{min-height:200px;}
.m-message-list-item{margin-bottom:10px;padding-top:10px;display:block;border-radius:0px 0px 3px 3px;overflow:hidden;background:#fff;}
.m-message-list-item .th{font-size:12px;color:#aaa;line-height:24px;height:24px;vertical-align:top;padding:0 10px;}
.m-message-list-item .tb{line-height:24px;margin-bottom:10px;padding:3px 10px 0;font-size:16px;}
.m-message-list-item .tb.hide-content {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical;}
.m-message-list-item .tb img{width:24px;height:24px;vertical-align:middle;}
.m-message-list-item .yy{background-color:#f5f5f5;padding:2px 5px;margin:5px 0 10px;border-radius:3px;color:#aaa;}
.m-message-list-item .other{ display:block;font-size:12px;line-height:36px;height:36px;color:#b0b0b0;border-top:1px solid #e6e6e6;padding:0 10px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.m-message-list-item .other em{color:#25a3eb;}
.m-message-list-item .date{line-height:24px;color:#b0b0b0;}
.m-message-list-item .name{display:inline-block;margin:0 2px;max-width:30%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;vertical-align:top;}
.m-message-list-item a.name{color:#25a3eb;}
.m-message-list-item .f-fr{float:right;}

/*查看更多*/
.m-more{ background:#fff;line-height:34px;border:1px solid #e6e6e6;margin:0 12px;text-align:center;border-radius:3px;}
.m-more a {display:block;height:34px;line-height:36px;color:#666;}