/* box.css */
.m-box {
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #fff;
}

.m-box .hd {
	height: 15px;
	margin:20px 0 12px;
	font-size: 15px;
	line-height: 15px;
	border-left: 2px solid #25a3eb;
	overflow: hidden;
}

.m-box .hd .mark {
	padding-left: 8px;
	color: #777;
}

.m-box .bd {
	padding-bottom: 20px;
}